html, body, #app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
  color: white;
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}
